{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
   <div class="container">
    <div class="registerForm">
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {% for message in messages %}
                 <p class="message">{{message}} <button id="close">close</button></p>
            {% endfor %}
           
            <div class="form_title">
                <h2>Please Register to Continue</h2>
            </div>
            <div class="formInput">
                {{form.first_name}}
            </div>
            <div class="formInput">
                {{form.last_name}}
            </div>
            <div class="formInput">
                {{form.username}}
            </div>
            <div class="formInput">
                {{form.email}}
            </div>
            <div class="formInput">
                {{form.password1}}
            </div>
            <div class="formInput">
                {{form.password2}}
            </div>
            <div class="formInput checkbox">
                <input id="remind" type="checkbox">
                <label>remember password</label>
            </div>
            <div class="formInput">
                <button class="submitBtn" type="submit" >Sign Up</button>
            </div>
            <div class="formInput">
                <small>
                    Already have an acount? oops..! <a href="{% url 'core:login' %}">Please Sign In <span>&#128532</span></a>
                </small>
            </div>
        </form>
     </div>
   </div>
   <script>
    const closeEl = document.getElementById('close')
    const messageEl = document.querySelector('.message')

    closeEl.onclick = () => {
        messageEl.style.display = 'none'

    }
   </script>
{% endblock %}